/* MotoBurguer/static/main/styles.css */

@font-face {
    font-family: 'Capuche';
    src: url("/static/main/fonts/Capuche.otf");
    font-weight: normal;
    font-style: normal;
}

main {
    padding-top: 68px; /* Ajusta este valor según la altura de tu navbar */
  }
#brand_name{
    font-family: 'Capuche';
    font-size: x-large;
}

.footer-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .footer-image {
    width: 100%;
    height: auto;
  }
  
  .footer-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem; /* Ajusta el padding según tus necesidades */
  }

/* Media query para pantallas menores de 1000px */
@media (max-width: 1000px) {
    .order-now-btn {
        font-size: medium !important;
    }
    #brand_name{
        font-family: 'Capuche' !important;
        font-size: medium;
    }
    .last_block{
        display: block;
    }
    #footer_copy{
        font-size: 5px;
    }
}

